<!DOCTYPE html>
<html lang="en">


<head>
    <!-- ...................................................................................................................... Head -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tben Web Designer</title>
    <meta name="description" content="Web/Graphic/Motion Designer, UI UX Designer, Frontend Web Developer">
    <link rel="shortcut icon" href="https://benjamintoby.github.io/personal_site/images/favicon4.ico"
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,500,600,700,800|Material+Icons"
        rel="stylesheet">


    <link rel="stylesheet" href="public/css/main.css">

</head>



<body>

    {{{body}}}

    <!-- ################################################################################# Scripts -->

    <script src="public/scripts/anime.min.js"></script>
    <script src="public/scripts/lottie.min.js"></script>
    <script src="public/scripts/main.js"></script>
    <!-- <script src="index.js" type="module"></script> -->
    <!-- <script src="app.js" type="module"></script> -->

</body>


</html>